{% extends "base.html" %}
{% set active_page = "batch_user_creation" %}

{% block body %}

<h1>Create a batch of users with random password</h1>

<form class="row" method="POST" action=""
    onsubmit="return confirm('Ceci va créer ou modifier les utilisateurs avec des mots de passe générés aléatoirement, confirmer ?');">
    <fieldset class="col-md-6">
        <h3>Users</h3>
        <div class="form-group">
            <label class="control-label">
                List of user login to create, separate by a new line
            </label>
            <textarea class="form-control" id="users_login" name="users_login"></textarea>
        </div>
    </fieldset>
    <fieldset class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Group</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group }}</td>
                        <td>
                            <input id="group_{{ group }}" name="group_{{ group }}" class="form-control" type="checkbox" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
    <fieldset class="col-md-12">
        <div class="row">
            <div class="form-group">
                {% if mail_capabilities %}
                <div class="col-md-6">
                    <label>
                        <input id="send_mail" name="send_mail" type="checkbox" class="input-md" />
                        Send a mail to the user(s) with its newly created/updated password
                    </label>
                    <br />
                    <input id="mail_suffix" name="mail_suffix" type="text" class="col-md-12"
                        placeholder="Add a suffix for mail address (optionnal)" />
                    <input id="instance" name="instance" type="text" class="col-md-12"
                        placeholder="Instance of application" />
                </div>
                {% endif %}
                <div class="col-md-6">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">
                        Create with random password
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
{% if result %}
<div>
    <textarea>{{ result }}</textarea>
</div>
{% endif %}

{% endblock %}
