{% extends "base.html" %}
{% set active_page = "batch_user_creation" %}

{% block body %}

<h1>Create a batch of users with random password</h1>

<form class="row" method="POST" action=""
    onsubmit="return confirm('Ceci va créer ou modifier les utilisateurs avec des mots de passe générés aléatoirement, confirmer ?');">
    <fieldset class="col-md-6">
        <h3>Users</h3>
        <div class="form-group">
            <label class="control-label">
                List of user login to create, separate by a new line
            </label>
            <textarea class="form-control" id="users_login" name="users_login"></textarea>
        </div>
    </fieldset>
    <fieldset class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Group</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group }}</td>
                        <td>
                            <input id="group_{{ group }}" name="group_{{ group }}" class="form-control" type="checkbox" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>
    {% if mail_capabilities %}
    <fieldset class="form-inline col-md-12">
        <h3>Send a mail to the user(s) with its newly created/updated password (optionnal)</h3>
        <div class="form-group">
            <input id="send_mail" name="send_mail" type="checkbox" class="form-control mx-sm-3" onchange="form.mail_suffix.disabled = !form.send_mail.checked; form.instance.disabled = !form.send_mail.checked;" />
            <label>Send a mail to every user with there accound</label>
        </div>
        <br />
        <input id="mail_suffix" name="mail_suffix" type="text" class="form-control mx-sm-3"
            placeholder="Add a suffix for mail address (optionnal)" title="Add a suffix for mail address if required to build a valid mail adress ; for example: @myclient.com" disabled />
        <input id="instance" name="instance" type="text" class="form-control mx-sm-3"
            placeholder="Instance of application" title="Name of the instance, mainly used to build the link to it in the mail" disabled  />
    </fieldset>
    {% endif %}
    <fieldset class="col-md-12">
        <hr />
        <div class="form-group">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">
                Create with random password
            </button>
        </div>
    </fieldset>
</form>
{% if result %}
<div>
    <textarea>{{ result }}</textarea>
</div>
{% endif %}

{% endblock %}
