{% extends "base.html" %}
{% block body %}
<div class="containter">
<div class="col-lg-6 col-lg-offset-3">
<div class="row">&nbsp;</div>
<div class="row">
<form class="form-horizontal centered" method="POST" action="">
    <fieldset class="change-password">

        <legend>Change groups of user {{ username }}</legend>
        <div class="row">
            <div class="form-group col-md-12">
              {% for group, active in groups.items() %}
                <label class="col-md-6 control-label" for="group_{{ group }}">{{ group }}</label>
                <div class="col-md-6">
                    <input id="group_{{ group }}" name="group_{{ group }}" type="checkbox" {% if active %}checked{% endif %} class="form-control input-md">
                </div>
              {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
              <label class="col-md-6 control-label" for="singlebutton"></label>
              <div class="col-md-6">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Validate</button>
              </div>
            </div>
        </div>
    </fieldset>
</form>
</div>
</div>
 </div>
{% endblock %}