{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="wells">
        {% if success%}<div class="alert alert-success">
        {% else%}<div class="alert alert-danger">
        {% endif %}
            {{ message }}
        </div>
    </div>
    {% if not success %}
        <em>Go back to previous page and try to fix this issue (if you can)</em>
    {% endif %}
    {% if result %}
        <textarea id="result" name="result" class="col-md-12">{{ result }}</textarea>
    {% endif %}
</div>
{% endblock %}