<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Pydentity</a>
    {% if is_admin %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if active_page == "user" %}active{% endif %}">
                    <a class="nav-link" href="/user">My user password</span></a>
                </li>
                <li class="nav-item {% if active_page == "user_groups" %}active{% endif %}">
                    <a class="nav-link" href="/user_groups">My user groups</a>
                </li>
                <li class="nav-item {% if active_page == "list_users" %}active{% endif %}">
                    <a class="nav-link" href="/list_users">User list</a>
                </li>
                <li class="nav-item {% if active_page == "list_groups" %}active{% endif %}">
                    <a class="nav-link" href="/list_groups">Group list</a>
                </li>
                <li class="nav-item {% if active_page == "create_user" %}active{% endif %}">
                    <a class="nav-link" href="/create_user">Create user</a>
                </li>
                <li class="nav-item {% if active_page == "batch_user_creation" %}active{% endif %}">
                    <a class="nav-link" href="/batch_user_creation">Batch user creation</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>
