{% extends "base.html" %}
{% block body %}
<div class="containter">
<div class="col-lg-6 col-lg-offset-3">
<div class="row">&nbsp;</div>
<div class="row">
<form class="form-horizontal centered" method="POST" action="">
    <fieldset class="change-password">

        {% if new %}
            <legend>Creation of user {{ username }}</legend>
        {% else %}
            <legend>Change password for user {{ username }}</legend>
        {% endif %}
        <div class="row">
            <div class="form-group col-md-12">
              {% if not admin_feature %}
                <label class="col-md-6 control-label" for="old_password">Old password</label>
                <div class="col-md-6">
                    <input id="old_password" name="old_password" type="password" required pattern=".+" placeholder="" class="form-control input-md">
                </div>
              {% endif %}
              <label class="col-md-6 control-label" for="new_password">New password</label>
              <div class="col-md-6">
                <input id="new_password" name="new_password" type="password" required pattern="{{ password_pattern }}" onchange="form.repeat_password.pattern = (this.value+'').replace(/[.?*+^$[\]\\(){}|-]/g, '\\$&');" title="Lower case, numeric, and at least one upper case or special character in !, @, #, $, %, ^, & *, -. At least 8 char." placeholder="{{ password_pattern_help }}" class="form-control input-md" >
              </div>
              <label class="col-md-6 control-label" for="repeat_password">Repeat your new password</label>
              <div class="col-md-6">
                <input id="repeat_password" name="repeat_password" type="password" placeholder="Be smart, don't copy and paste. Retype it" title="Password does not match your new password" class="form-control input-md" required="">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
              <label class="col-md-6 control-label" for="singlebutton"></label>
              <div class="col-md-6">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Validate</button>
              </div>
            </div>
        </div>
    </fieldset>
</form>
    {% if admin_feature %}
    <form method="POST" action="" novalidate>
        <div class="col-md-6">
            <button id="generaterandom" name="generaterandom"
                    class="btn btn-primary">Generate random password
            </button>
        </div>
    </form>
    {% endif %}
</div>
</div>
 </div>
{% endblock %}
