{% extends "base.html" %}
{% set active_page = "user" %}

{% block body %}

{% if message %}
    {% if success %}<div class="alert alert-success">
    {% else %}<div class="alert alert-danger">
    {% endif %}

        {{ message }}
        <hr class="col-md-12" />
        {% if is_admin and result %}
            <textarea class="col-md-8 centered">{{ result }}</textarea>
        {% endif %}
    </div>
{% endif %}

{% if new %}
    <h1>Creation of user {{ username }}</h1>
{% else %}
    <h1>Update of user {{ username }}</h1>
{% endif %}

<form class="row" method="POST" action="">
    <fieldset class="{% if is_admin %}col-md-6{% else %}col-md-12{% endif %}">
        <h3>Password</h3>
        {% if not is_admin %}
            <div class="form-group">
                <label class="control-label" for="old_password">Old password</label>
                <input id="old_password" name="old_password" type="password" required pattern=".+" 
                       placeholder="Old password" class="form-control" />
            </div>
        {% endif %}
        <div class="form-group">
            <label class="control-label">New password</label>
            <input id="new_password" name="new_password" type="password" class="form-control"
                   required pattern="{{ password_pattern }}"
                   onchange="form.repeat_password.pattern = (this.value+'').replace(/[.?*+^$[\]\\(){}|-]/g, '\\$&');"
                   title="Lower case, numeric, and at least one upper case or special character in !, @, #, $, %, ^, & *, -. At least 8 char."
                   placeholder="{{ password_pattern_help }}" />
        </div>
        <div class="form-group">
            <label>Repeat your new password</label>
            <input id="repeat_password" name="repeat_password" class="form-control"
                   type="password" required=""
                   placeholder="Be smart, don't copy and paste. Retype it"
                   title="Password does not match your new password" />
        </div>
        {% if is_admin %}
        <div class="form-group">
            <input id="generaterandom" name="generaterandom" type="checkbox" />
            <label>Generate random password</label>
        </div>
        {% endif %}
    </fieldset>
    {% if is_admin %}
        <fieldset class="col-md-6">
            <h3>Groups</h3>
            {% for group, active in groups.items() %}
                <div class="form-group">
                    <label>{{ group }}</label>
                    <input id="group_{{ group }}" name="group_{{ group }}"
                           type="checkbox" {% if active %}checked{% endif %} />
                </div>
            {% endfor %}
        </fieldset>
    {% endif %}
    <hr class="col-md-12" />
    <div class="form-group">
        <button id="createorupdateuser" name="createorupdateuser" type="submit" class="btn btn-primary">
            {% if is_admin %}
                {% if new %}
                    Create user and assign groups
                {% else %}
                    Update user and groups
                {% endif %}
            {% else %}
                Update my password
            {% endif %}
        </button>
        {% if is_admin %}
            <button id="deleteuser" name="deleteuser" type="submit" class="btn btn-danger">
                Delete user
            </button>
        {% endif %}
    </div>
</form>

{% endblock %}
